.skin-blue .main-header .navbar {
  background-color: #5c0000 !important; 
}

.skin-blue .main-header .logo {
  background-color: #5c000086 !important;
  color: #ffffff !important;
}

.skin-blue .main-header .logo:hover {
  background-color: #003366 !important;
}

.btn-primary {
    background-color: #007b5e !important;
    border-color: #007b5e !important;
}

.btn-primary:hover {
    background-color: #005f46 !important;
    border-color: #005f46 !important;
}
